<p><%= link_to "Edit task", edit_task_path %></p>

<h2><%=@task.title%></h2>
<p><%=@task.details%></p>
<p><%= check_box_tag "task_ids[]", @task.id, @task.completed %><%=@complete%></p>
<p><%= link_to "Back to list", tasks_path %></p>
